<div id="logIn">

    <div id="sessionBgColor">
    </div>
    
    <div id="logInForm">
        <input id="user_name" type="text" name="keyword" size="31" placeholder="Username"/>
        <input id="user_password" type="password" name="keyword" size="31" placeholder="Password"/>
    </div>
    
    <div id="btnLogIn" class="animatedButton">
         <center>LOG IN</center>
    </div>
    
    <div id="btnLogIn2" class="animatedButton">
         <center>LOG IN</center>
    </div>
         
    <div id="btnSignUp" class="animatedButton">
         <center>SIGN UP</center>
    </div>
</div>